.DS_Store
./pertemuan2/.DS_Store
./pertemuan3/.DS_Store
./pertemuan4/.DS_Store
./pertemuan5/.DS_Store
./pertemuan6/.DS_Store
./pertemuan7/.DS_Store
./pertemuan8/.DS_Store
./pertemuan9/.DS_Store
./pertemuan10/.DS_Store
./pertemuan11/.DS_Store
./pertemuan12/.DS_Store
./pertemuan13/.DS_Store
./pertemuan14/.DS_Store
./pertemuan15/.DS_Store
node_modules/
dist/
.env
.vscode/
.idea/
*.log
coverage/
*.tmp
*.bak